[Unit]
Description=framebuffer copy to spi screen
DefaultDependencies=no
Conflicts=fbcp.service
After=fbcp.service

[Service]
Type=simple
ExecStart=/home/pi/code/fbcp-ili9341/build/fbcp-ili9341

[Install]
WantedBy=multi-user.target
